<li>
	{{name}}

	<button class="purchase" data-id="{{id}}" data-newPurchase="{{purchase}}">
		{{#if purchase}}PURCHASE{{else}}REMOVE{{/if}}
	</button>

	<button class="deleteBurger" data-id="{{this.id}}">DELETE</button>
</li>