
	{{!-- {{burgerName}} --}}

	<button class="btn btn-success btn-sm purchase" data-id="{{id}}" data-newPurchase="{{purchased}}">
		{{#if purchased}}REMOVE{{else}}PURCHASE{{/if}}
	</button>

	<button class="btn btn-warning btn-sm deleteBurger" data-id="{{this.id}}">DELETE</button>
